<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.whtsky.clang-format</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E1DF107-E105-4102-89D3-B170CE9730FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C09BF0D5-4701-451E-A4E8-790C30376BC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BB1B5E9-3C80-4735-B472-177A92957CBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADE04BA8-ECE8-40A5-BE53-3336889F69E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8C05B515-218A-4A7E-873D-918FDFE81457</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C05B515-218A-4A7E-873D-918FDFE81457</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67EBE346-852F-44CC-9B90-008C3DCE6766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C09BF0D5-4701-451E-A4E8-790C30376BC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADE04BA8-ECE8-40A5-BE53-3336889F69E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BB1B5E9-3C80-4735-B472-177A92957CBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>whtsky</string>
	<key>description</key>
	<string>format your code in clipboard using clang-format</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clang-format</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>ADE04BA8-ECE8-40A5-BE53-3336889F69E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8C05B515-218A-4A7E-873D-918FDFE81457</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/clang-format {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BB1B5E9-3C80-4735-B472-177A92957CBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>/tmp/_alfred_clang_format</string>
				<key>filetext</key>
				<string>{clipboard}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>C09BF0D5-4701-451E-A4E8-790C30376BC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clang-format</string>
				<key>subtext</key>
				<string>format your code in clipboard</string>
				<key>text</key>
				<string>Clang-format</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1E1DF107-E105-4102-89D3-B170CE9730FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Formatted code copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67EBE346-852F-44CC-9B90-008C3DCE6766</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow demonstrates a few techniques to integrate the clipboard into your workflows.

The easiest and most predictable way to get the clipboard or clipboard history into your workflow is to use an Arg and Var utility object, and set a variable to {clipboard} or {clipboard:x} where x is the history item number. This will fix the variable to the text at the point the workflow passes through this object.

Note that while {clipboard} and {clipboard:0} both represent the latest clipboard entry, the value of these may differ. {clipboard:0} represents the latest item in Alfred's clipboard history whereas {clipboard} represents the current clipboard entry in macOS. The latter may not be compatible with Alfred's clipboard history.

The clipboard history placeholders are available in most output objects, along with the Arg and Var / JSON utilities. Help subtext hints this throughout the configuration sheets.</string>
	<key>uidata</key>
	<dict>
		<key>1E1DF107-E105-4102-89D3-B170CE9730FB</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Use keyword 'cliptovar' to start this workflow which sets some variables as clipboard contents</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>2BB1B5E9-3C80-4735-B472-177A92957CBE</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>67EBE346-852F-44CC-9B90-008C3DCE6766</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>8C05B515-218A-4A7E-873D-918FDFE81457</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Merge the clipboard history, and paste to the front most app</string>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>ADE04BA8-ECE8-40A5-BE53-3336889F69E8</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>C09BF0D5-4701-451E-A4E8-790C30376BC9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Write the latest clipboard history item, the previous item and item 100 in Alfred's clipboard history to a random file on the Desktop</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/whtsky/alfred-clangformat</string>
</dict>
</plist>
